<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- invoke .net Standard Libraries -->
  <!-- https://github.com/dotnet/wcf/issues/2546 -->
  <package id="System.ServiceModel.Http" version="4.6.0" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.6.0" targetFramework="net461" />
</packages>